<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771176315943-d2a7rj4np3sin8qcpvcdhut7dusptkeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771176315943-d2a7rj4np3sin8qcpvcdhut7dusptkeu</string>
	<key>API_KEY</key>
	<string>AIzaSyA2WviYaJOIhO75N5XsSKsgKh3U36mB2OU</string>
	<key>GCM_SENDER_ID</key>
	<string>771176315943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mudani</string>
	<key>PROJECT_ID</key>
	<string>mudani-b590a</string>
	<key>STORAGE_BUCKET</key>
	<string>mudani-b590a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771176315943:ios:5980d7004c79841d88a202</string>
</dict>
</plist>